<h1> Welcome </h1>

<a href="/albums/new">New Album</a>
<% @albums.each do |album| %>
    <p><%= album.title %></p>
    <p><%= album.artist.name %></p>
    <p><%= album.stock %> <%= album.stock_status %></p>
    <p><%= album.cover_url %></p>
    <form action="/albums/<%= album.id %>/add_stock" method="post">
      <label for="add_stock">Add</label>
      <input type="submit" name="add_stock" value="Add Stock">
    </form>

    <form action="/albums/<%= album.id %>/remove_stock" method="post">
      <label for="remove_stock">Remove</label>
      <input type="submit" name="remove_stock" value="Remove Stock">
    </form>
<% end %>
